{% extends 'master/master_page.html' %}
{% load static %}

{% block title %}
    Contact
{% endblock %}


{% block section %}
<div id="profile_page">
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <p class="text-white text-justify">
                        At Education Umbrella, we offer expert guidance to help you find the perfect course that aligns with your academic goals and career aspirations. Whether you’re interested in undergraduate, postgraduate, or professional programs, we work with top universities worldwide to provide a diverse range of courses across various fields of study. From business and engineering to arts, healthcare, and technology, we ensure that you have access to high-quality education that matches your interests and ambitions. Let us help you make an informed decision and take the next step toward your global education journey.
                    </p>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</div>
{% endblock %}